$color-red: rgb(0, 255, 38);
$ship: #333;
$board: hsl(200, 100%, 50%);

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: $color-red;
}

.boards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.machineBoard,
.humanBoard {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  background-color: $board;
  box-shadow: 1px 1px 4px #7e7e7e;
}

.disabled {
  pointer-events: none;
}

.grid {
  height: 40px;
  border: 1px solid hsla(0,0%,100%,.2);
}

.ship {
  background-color: $ship;
}

.hit {
  background-color: red;
}

.fail {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  padding: 15px;
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  background-color: rgb(240, 248, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  top: 40%;
  box-shadow: 4px 4px 9px rgb(159, 159, 159);
  button {
    width: 100px;
  }
}

.is-close {
  display: none;
}

.options {
  border: 1px solid #333;
  margin: 15px;
  padding: 18px;
  height: 265px;
  width: 800px;
}

.ships {
  display: flex;
  gap: 15px;
  width: auto;
  margin: 15px 0;

  .carrier,
  .battleship,
  .destroyer,
  .submarine,
  .boat {
    display: grid;
  } 

  .carrier.horizontal {
    grid-template-columns: repeat(5, 40px);
  }
  .battleship.horizontal {
    grid-template-columns: repeat(4, 40px);
  }
  .destroyer.horizontal {
    grid-template-columns: repeat(3, 40px);
  }
  .submarine.horizontal {
    grid-template-columns: repeat(3, 40px);
  }
  .boat.horizontal {
    grid-template-columns: repeat(2, 40px);
  }

  .carrier.vertical {
    grid-template-rows: repeat(5, 40px);
    width: 40px;
  }
  .battleship.vertical {
    grid-template-rows: repeat(4, 40px);
    width: 40px;
  }
  .destroyer.vertical {
    grid-template-rows: repeat(3, 40px);
    width: 40px;
  }
  .submarine.vertical {
    grid-template-rows: repeat(3, 40px);
    width: 40px;
  }
  .boat.vertical {
    grid-template-rows: repeat(2, 40px);
    width: 40px;
  }
}

.hover {
  background-color: $ship;
}
